.divContain{
    margin-bottom: 24px;

    .subTitle{
        font-family: var(--font-nameType);
    }

    .image{
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .divContain{ 
        .image{
            width: 90%;
        }
    }
}