.title{
    font-size: 40px;
    font-family: var(--font-nameType);

    margin-bottom: 12px;
}

.children{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}