.divContain{
  height: 100vh;
  width: 100vw;

  .main{
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    
    .correctPosition{
      background-color: green;
    }

    .incorretPosition{
      background-color: orange;
    }

    .extingueDaFaceDaTerra{
      background-color: red;
    }


  }
}