.stacksDiv{
    height: 40%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

@media screen and (max-width: 600px) {
    .stacksDiv{
        grid-template-columns: 1fr 1fr;
    }
}